[Unit]
Description=Brew Startup

[Service]
Type=simple
ExecStart=bash ~/Desktop/git-repos/common-linux-installer/brew-installer/brew.service.sh

[Install]
WantedBy=multi-user.target