[Unit]
Description=Brew Startup

[Service]
Type=any
ExecStart=su -a -c bash ~/git-repos/common-linux-installer/brew-installer/brew.service.sh

[Install]
WantedBy=multi-user.target